
  <script>
    $('.addtocartManish').click(function(e){
        e.preventDefault();
        name = $(this).data('id');
        url_pattern = "/products/add-to-cart/"+name+"/";
        $.ajax({
            type: "GET",
            url: url_pattern,
            data:{
                'name':name
            },
            success: function (response) {
                total_item = response.items;
                product_id = response.pid;
                cart_id = response.cart_id;
                qty = response.items;
                console.log(qty)
                new_val = response.new_val;
                $('.cartDataValue').html(new_val);
                if (qty > 0){
                    np2l = "np2l-"+product_id;
                    qvno = "qvno-"+product_id;
                    $('#'+np2l).val(qty);
                    $('#'+qvno).val(qty);
                    inp2l = "inp2l-"+product_id;
                    dnp2l = "dnp2l-"+product_id;
                   
                    $('#'+np2l).val(qty);
                    $('#'+inp2l).attr('data-id', cart_id);
                    $('#'+dnp2l).attr('data-id', cart_id);
                }
               
                p1l = "p1l-"+product_id;
                p2l = "p2l-"+product_id;
                qvr = "qvr-"+product_id;
                qva = "qva-"+product_id;
                
                // $('#d'+p1l).attr('data-id', cart_id);
                $('#'+p1l).addClass('qd-none');
                $('#'+p2l).removeClass('qd-none');
                $('#d'+p2l).attr('data-id', cart_id);
                
                $('#'+qvr).removeClass('qd-none');
                $('#'+qva).addClass('qd-none');
                $('#'+qvr).attr('data-id', cart_id);
                   
            },
            error:function (data) {
                console.log('An error occurred.');
                
            },
        
        });
        $(this).removeData();
    });

    
 </script>

<script>
    $(document).on("click", '.removetocartManish', function(e){
        e.preventDefault();
        name = $(this).data('id');
        url_pattern = "/products/remove-from-cart/"+name+"/";
        $.ajax({
            type: "GET",
            url: url_pattern,
            data:{
                'name':name
            },
            success: function (response) {
                total_item = response.items;
                product_id = response.pid;
                new_val = response.new_val;
                $('.cartDataValue').html(new_val);
                p1l = "p1l-"+product_id;
                p2l = "p2l-"+product_id;

                $('#'+p2l).addClass('qd-none');
                $('#'+p1l).removeClass('qd-none');
                qvr = "qvr-"+product_id;
                qva = "qva-"+product_id;
                $('#'+qvr).addClass('qd-none');
                $('#'+qva).removeClass('qd-none');
                
                
                   
            },
            error:function (data) {
                console.log('An error occurred.');
                
            },
        });
        
        $(this).removeData();
        
    });

    
 </script>


<script>
    $(document).on("click", '.increase', function(e){
        e.preventDefault();
        name = $(this).data('id');
        pid = $('#my_productID').val()
        // alert(name);
        url_pattern = "/products/increase-item/"+name+"/";
        $.ajax({
            type: "GET",
            url: url_pattern,
            data:{
                'name':name,
                'pid':pid,
            },
            success: function (response) {
                qty = response.qty;
                product_id = response.pid;
                console.log(qty)
                cart_id = response.cart_id;
                p2l = "np2l-"+product_id;
                $('#'+p2l).val(qty);
            
                qvno = "qvno-"+product_id;
                $('#'+qvno).val(qty);
            
                inp2l = "inp2l-"+product_id;
                dnp2l = "dnp2l-"+product_id;
                qvin = "qvic-"+product_id;
                qvdc = "qvdc-"+product_id;
                
                $('#'+inp2l).attr('data-id', cart_id);
                $('#'+dnp2l).attr('data-id', cart_id);
                $('#'+qvin).attr('data-id', cart_id);
                $('#'+qvdc).attr('data-id', cart_id);
            
                   
            },
            error:function (data) {
                console.log('An error occurred.');
                
            },
        });
        
        $(this).removeData();
        
    });

    
 </script>



<script>
    $(document).on("click", '.decrease', function(e){
        e.preventDefault();
        name = $(this).data('id');
        pid = $('#my_productID').val();
        
        // alert(name);
        url_pattern = "/products/decrease-item/"+name+"/";
        $.ajax({
            type: "GET",
            url: url_pattern,
            data:{
                'name':name,
                'pid':pid,
            },
            success: function (response) {
                qty = response.qty;
                product_id = response.pid;
                console.log(qty)
                p2l = "np2l-"+product_id;
                $('#'+p2l).val(qty);
                qvno = "qvno-"+product_id;
                $('#'+qvno).val(qty);
            
                   
            },
            error:function (data) {
                console.log('An error occurred.');
                
            },
        });
        
        $(this).removeData();
        
    });

    
 </script>