{% extends 'base.html' %}

{% block seo %}
    
{% endblock seo %}
    

{% block css %}
    
{% endblock css %}
    
{% load static %}


{% block body %}
<main class="main__content_wrapper">
    <!-- Start slider section -->
    <section class="hero__slider--section">
        <div class="hero__slider--inner hero__slider--activation swiper">
            <div class="hero__slider--wrapper swiper-wrapper">
                <div class="swiper-slide ">
                    <div class="hero__slider--items home1__slider--bg" style="background-image: url({% static '1.png' %});">
                        <div class="container-fluid">
                            <div class="hero__slider--items__inner">
                                <div class="row row-cols-1">
                                    <div class="col h60">
                                        <div class="slider__content">
                                            <!-- <p class="slider__content--desc desc1 mb-15"><img class="slider__text--shape__icon" 
                                                src="{% static 'files/img/icon/text-shape-icon.png' %}" alt="text-shape-icon"> Achieve Excellence with</p>  -->
                                            <!-- <h2 class="slider__content--maintitle h1">  Zirconia Guys. 
                                                 </h2> -->
                                            <!-- <p class="slider__content--desc desc2 d-sm-2-none mb-40">
                                              Maximize performance and patient <br>satisfaction with  industry-leading zirconia products. 
                                            </p>    
                                            <a class="slider__btn primary__btn" href="{% url 'home:about' %}">About Us
                                                <svg class="primary__btn--arrow__icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                                </svg>
                                            </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="hero__slider--items home1__slider--bg" style="background-image: url({% static '2.png' %});">
                        <div class="container-fluid">
                            <div class="hero__slider--items__inner">
                                <div class="row row-cols-1">
                                    <div class="col h60">
                                        <div class="slider__content">
                                            <!-- <p class="slider__content--desc desc1 mb-15"><img class="slider__text--shape__icon" 
                                                src="{% static 'files/img/icon/text-shape-icon.png' %}" alt="text-shape-icon"> Achieve Excellence with</p>  -->
                                            <!-- <h2 class="slider__content--maintitle h1">  Zirconia Guys. 
                                                 </h2> -->
                                            <!-- <p class="slider__content--desc desc2 d-sm-2-none mb-40">
                                              Maximize performance and patient <br>satisfaction with  industry-leading zirconia products. 
                                            </p>    
                                            <a class="slider__btn primary__btn" href="{% url 'home:about' %}">About Us
                                                <svg class="primary__btn--arrow__icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                                </svg>
                                            </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="hero__slider--items home1__slider--bg" style="background-image: url({% static '3.png' %});">
                        <div class="container-fluid">
                            <div class="hero__slider--items__inner">
                                <div class="row row-cols-1">
                                    <div class="col h60">
                                        <div class="slider__content">
                                            <!-- <p class="slider__content--desc desc1 mb-15"><img class="slider__text--shape__icon" 
                                                src="{% static 'files/img/icon/text-shape-icon.png' %}" alt="text-shape-icon"> Achieve Excellence with</p>  -->
                                            <!-- <h2 class="slider__content--maintitle h1">  Zirconia Guys. 
                                                 </h2> -->
                                            <!-- <p class="slider__content--desc desc2 d-sm-2-none mb-40">
                                              Maximize performance and patient <br>satisfaction with  industry-leading zirconia products. 
                                            </p>    
                                            <a class="slider__btn primary__btn" href="{% url 'home:about' %}">About Us
                                                <svg class="primary__btn--arrow__icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                                </svg>
                                            </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="hero__slider--items home1__slider--bg" style="background-image: url({% static '4.png' %});">
                        <div class="container-fluid">
                            <div class="hero__slider--items__inner">
                                <div class="row row-cols-1">
                                    <div class="col h60">
                                        <div class="slider__content">
                                            <!-- <p class="slider__content--desc desc1 mb-15"><img class="slider__text--shape__icon" 
                                                src="{% static 'files/img/icon/text-shape-icon.png' %}" alt="text-shape-icon"> Achieve Excellence with</p>  -->
                                            <!-- <h2 class="slider__content--maintitle h1">  Zirconia Guys. 
                                                 </h2> -->
                                            <!-- <p class="slider__content--desc desc2 d-sm-2-none mb-40">
                                              Maximize performance and patient <br>satisfaction with  industry-leading zirconia products. 
                                            </p>    
                                            <a class="slider__btn primary__btn" href="{% url 'home:about' %}">About Us
                                                <svg class="primary__btn--arrow__icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                                </svg>
                                            </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="swiper__nav--btn swiper-button-next"></div>
            <div class="swiper__nav--btn swiper-button-prev"></div>
        </div>
    </section>
    <!-- End slider section -->

    <!-- Start banner section -->
    <section class="banner__section section--padding">
        <div class="container-fluid">
            <div class="row mb--n28">
                <div class="col-lg-5 col-md-order mb-28">
                    <div class="banner__items">
                        <a class="banner__items--thumbnail position__relative" href="http://zirconiaguys.com/products/upcera/"><img class="banner__items--thumbnail__img" 
                            src="{% static 'files/banner/a1.png' %}" alt="banner-img">
                            <div class="banner__items--content">
                                <span class="banner__items--content__subtitle">Durable and Natural-looking Crowns    </span>
                                <h2 class="banner__items--content__title h3">Honorzir Collection </h2>
                                <span class="banner__items--content__link">View Product
                                    <svg class="banner__items--content__arrow--icon" xmlns="http://www.w3.org/2000/svg" 
                                    width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                        <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z"
                                         transform="translate(-4 -4)" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 mb-28">
                    <div class="row row-cols-lg-2 row-cols-sm-2 row-cols-1">
                        <div class="col mb-28">
                            <div class="banner__items">
                                <a class="banner__items--thumbnail position__relative" href="#"><img class="banner__items--thumbnail__img" 
                                    src="{% static 'files/banner/1.png' %}" alt="banner-img"> 
                                    <div class="banner__items--content">
                                        <span class="banner__items--content__subtitle text__secondary">Shop Zincronia</span>
                                        <h2 class="banner__items--content__title h3">High-strength Zirconia Discs <br>
                                            Free Shipping</h2>
                                        <span class="banner__items--content__link">View Product
                                            <svg class="banner__items--content__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col mb-28">
                            <div class="banner__items">
                                <a class="banner__items--thumbnail position__relative" href="#"><img class="banner__items--thumbnail__img" 
                                    src="{% static 'files/banner/2.png' %}" alt="banner-img"> 
                                    <div class="banner__items--content">
                                        <span class="banner__items--content__subtitle"> High-strength and Excellent Esthetics</span>
                                        <h2 class="banner__items--content__title h3">Long-span restorations <br>
                                            Order $100</h2>
                                        <span class="banner__items--content__link">View Product
                                            <svg class="banner__items--content__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="banner__items">
                        <a class="banner__items--thumbnail position__relative" href=""><img class="banner__items--thumbnail__img banner__img--max__height"
                             src="{% static 'files/banner/3.png' %}" alt="banner-img"> 
                            <div class="banner__items--content">
                                <span class="banner__items--content__subtitle">Traditional Metal Implants</span>
                                <h2 class="banner__items--content__title h3">Offering Biocompatibility And Natural-looking Results <br>
                                    </h2>
                                <span class="banner__items--content__link">View Product
                                    <svg class="banner__items--content__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                        <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner section -->

    <!-- Start product section -->
    <section class="product__section section--padding pt-0">
        <div class="container-fluid">
            <div class="section__heading text-center mb-35">
                <h2 class="section__heading--maintitle">New Products</h2>
            </div>
            <ul class="product__tab--one product__tab--primary__btn d-flex justify-content-center mb-50">
                <li class="product__tab--primary__btn__list active" data-toggle="tab" data-target="#featured">Featured </li>
                <li class="product__tab--primary__btn__list" data-toggle="tab" data-target="#trending">Trending </li>
                <li class="product__tab--primary__btn__list" data-toggle="tab" data-target="#newarrival">New Arrival  </li>
            </ul>
            <div class="tab_content">
                <div id="featured" class="tab_pane active show">
                    <div class="product__section--inner">
                        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n30">
                            
                            {% for ie in featured %}
                                {% include 'home/featured_data.html' %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div id="trending" class="tab_pane">
                    <div class="product__section--inner">
                        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n30">
                            
                            {% for ie in trending %}
                                {% include 'home/trending_data.html' %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div id="newarrival" class="tab_pane">
                    <div class="product__section--inner">
                        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n30">
                            
                            {% for ie in new_arrival %}
                                {% include 'home/new_arrival_data.html' %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End product section -->

    <!-- Start deals banner section -->
    <section class="deals__banner--section section--padding pt-0">
        <div class="container-fluid">
            <div class="deals__banner--inner banner__bg">
                <div class="row row-cols-1 align-items-center">
                    <div class="col">
                        <div class="deals__banner--content position__relative">
                            <span class="deals__banner--content__subtitle text__secondary">Hurry up and Get 25% Discount</span>
                            <h2 class="deals__banner--content__maintitle">Deals Of The Week</h2>
                            <p class="deals__banner--content__desc">Multi-layered zirconia offers natural-looking esthetics and superior strength, 
                                <br>
                                 making it ideal for various restorations. </p>
                            <div class="deals__banner--countdown d-flex" data-countdown="Mar 30, 2023 00:00:00"></div>
                            <a class="primary__btn" href="#">Show Collection
                                <svg class="primary__btn--arrow__icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                </svg>
                            </a>
                            <br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End deals banner section -->

    <!-- Start product section -->
    <section class="product__section section--padding pt-0">
        <div class="container-fluid">
            <div class="section__heading text-center mb-50">
                <h2 class="section__heading--maintitle">Our Best Seller</h2>
            </div>
            <div class="product__section--inner product__swiper--activation swiper">
                <div class="swiper-wrapper">
                    {% for ie in best_seller  %}
                    <div class="swiper-slide">
                            {% include 'home/best_seller_data.html' %}
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="swiper__nav--btn swiper-button-next"></div>
                <div class="swiper__nav--btn swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- End product section -->

    <!-- Start banner section -->
    <section class="banner__section section--padding pt-0">
        <div class="container-fluid">
            <div class="row row-cols-md-2 row-cols-1 mb--n28">
                <div class="col mb-28">
                    <div class="banner__items position__relative">
                        <a class="banner__items--thumbnail " href=""><img class="banner__items--thumbnail__img banner__img--max__height" 
                            src="{% static 'files/banner/5.png' %}" alt="banner-img">
                            <div class="banner__items--content">
                                <span class="banner__items--content__subtitle d-none d-lg-block">Zirconia blocks are designed</span>
                                <h2 class="banner__items--content__title h3"> For high-precision
                                     milling <br> of dental restorations</h2>
                                <span class="banner__items--content__link"><u>Shop now</u></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col mb-28">
                    <div class="banner__items position__relative">
                        <a class="banner__items--thumbnail " href=""><img class="banner__items--thumbnail__img banner__img--max__height"
                             src="{% static 'files/banner/6.png' %}" alt="banner-img">
                            <div class="banner__items--content">
                                <span class="banner__items--content__subtitle d-none d-lg-block">Offering excellent resistance</span>
                                <h2 class="banner__items--content__title h3"> High-strength posterior restorations</h2>
                                <span class="banner__items--content__link"><u>Shop now</u> </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner section -->
      <!-- Start testimonial section -->
      <section class="testimonial__section bg__gray--color section--padding" style="padding-bottom: 0;">
        <div class="container-fluid">
            <div class="section__heading text-center mb-40">
                <h2 class="section__heading--maintitle">Our Clients Say</h2>
            </div>
            <div class="testimonial__section--inner testimonial__swiper--activation swiper">
                <div class="swiper-wrapper">
                    
                    {% for ie in client_review  %}
                    <div class="swiper-slide">
                        <div class="testimonial__items text-center">
                            <div class="testimonial__items--thumbnail">
                                <img class="testimonial__items--thumbnail__img border-radius-50" style="height: 90px;" src="{{ie.image.url}}" alt="testimonial-img">
                            </div>
                            <div class="testimonial__items--content">
                                <h3 class="testimonial__items--title">{{ie.name}}</h3>
                                <span class="testimonial__items--subtitle">{{ie.position}}</span>
                                <p class="testimonial__items--desc">{{ie.review}} </p>
                                <ul class="rating testimonial__rating d-flex justify-content-center">
                                    <li class="rating__list">
                                        <span class="rating__list--icon">
                                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewbox="0 0 10.105 9.732">
                                            <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </li>
                                    <li class="rating__list">
                                        <span class="rating__list--icon">
                                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewbox="0 0 10.105 9.732">
                                            <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </li>
                                    <li class="rating__list">
                                        <span class="rating__list--icon">
                                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewbox="0 0 10.105 9.732">
                                            <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </li>
                                    <li class="rating__list">
                                        <span class="rating__list--icon">
                                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewbox="0 0 10.105 9.732">
                                            <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </li>
                                    <li class="rating__list">
                                        <span class="rating__list--icon">
                                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewbox="0 0 10.105 9.732">
                                            <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        
                    
                </div>
                <div class="testimonial__pagination swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End testimonial section -->

    <!-- Start banner section -->
    <section class="banner__section section--padding pt-0">
        <div class="container-fluid">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="banner__section--inner position__relative">
                        <a class="banner__items--thumbnail display-block" href="">
                            <img class="banner__items--thumbnail__img banner__img--height__md display-block"
                             src="{% static 'files/banner/6.png' %}" alt="banner-img">
                            <div class="banner__content--style2">
                                <h2 class="banner__content--style2__title text-white">Upcera Zirconia Blanks </h2>
                                <p class="banner__content--style2__desc">
                                    These zirconia blanks are perfect for milling of single-tooth restorations, offering excellent mechanical properties and a range of shade options.
                                 </p>
                                <span class="primary__btn">Shop Now
                                    <svg class="primary__btn--arrow__icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewbox="0 0 6.2 6.2">
                                    <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner section -->

    <!-- Start blog section -->
    <section class="blog__section section--padding pt-0">
        <div class="container-fluid">
            <div class="section__heading text-center mb-40">
                <h2 class="section__heading--maintitle">From The Blog</h2>
            </div>
            <div class="blog__section--inner blog__swiper--activation swiper">
                <div class="swiper-wrapper">
                    
                    {% for ie in blog  %}
                    <div class="swiper-slide">
                        <div class="blog__items">
                            <div class="blog__thumbnail">
                                <a class="blog__thumbnail--link" href="{% url 'blog:blog_detail' ie.slug %}"><img class="blog__thumbnail--img" 
                                    src="{{ie.image.url}}" alt="blog-img"></a>
                            </div>
                            <div class="blog__content">
                                <span class="blog__content--meta">{{ie.published}}</span>
                                <h3 class="blog__content--title"><a href="{% url 'blog:blog_detail' ie.slug %}">
                                    {{ie.h1}}
                                </a></h3>
                                <a class="blog__content--btn primary__btn" href="{% url 'blog:blog_detail' ie.slug %}">Read more </a>
                            </div>
                        </div>
                    </div>
                  
                    {% endfor %}
                        
                </div>
                <div class="swiper__nav--btn swiper-button-next"></div>
                <div class="swiper__nav--btn swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- End blog section -->

</main>

{% for ie in featured  %}
{% include 'home/featured.html' %}
{% endfor %}

{% for ie in trending  %}
{% include 'home/trending.html' %}
{% endfor %}


{% for ie in new_arrival  %}
{% include 'home/new_arrival.html' %}
{% endfor %}

{% for ie in best_seller  %}
{% include 'home/best_seller.html' %}
{% endfor %}

{% endblock body %}


{% block js %}
    
{% endblock js %}
    



{% block cart %}
    {% include 'home/wishlist/best_seller_wishlist.html' %}
{% endblock cart %}