 {% extends 'base.html' %}

{% block seo %}
    
{% endblock seo %}
    

{% block css %}
    
{% endblock css %}
    
{% load static %}


{% block body %}
<section>
    <div class="container" style="padding-top: 60px;padding-bottom: 60px;">
        <div class="border" style="padding: 20px;">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save changes</button>
              </form>
        </div>
    </div>
</section>
{% endblock body %}


{% block js %}
    
{% endblock js %}
    
    