{% extends 'base.html' %}

{% block seo %}
    
{% endblock seo %}
    

{% block css %}
    
{% endblock css %}
    
{% load static %}


{% block body %}
<main class="main__content_wrapper">
        
    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title text-white mb-25">Wishlist</h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a class="text-white" href="{% url 'home:home' %}">Home</a></li>
                            <li class="breadcrumb__content--menu__items"><span class="text-white">Wishlist</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- cart section start -->
    <section class="cart__section section--padding">
        <div class="container">
            <div class="cart__section--inner">
                <form action="#"> 
                    <h2 class="cart__title mb-40">Wishlist</h2>
                    <div class="cart__table">
                        <table class="cart__table--inner">
                            <thead class="cart__table--header">
                                <tr class="cart__table--header__items">
                                    <th class="cart__table--header__list">Product</th>
                                    <th class="cart__table--header__list">Price</th>
                                    <th class="cart__table--header__list text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody class="cart__table--body">
                                
                               
                               {% for ie in data  %}
                               <tr class="cart__table--body__items">
                                <td class="cart__table--body__list">
                                    <div class="cart__product d-flex align-items-center">
                                        <a href="{% url 'product:deleteWishlistItem' ie.id %}" class="cart__remove--btn" aria-label="search button" type="button">
                                            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="16px"
                                             height="16px"><path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"></path></svg>
                                        </a>
                                        <div class="cart__thumbnail">
                                            <a href=""><img class="border-radius-5" src="{{ie.product.image.url}}" alt="cart-product"></a>
                                        </div>
                                        <div class="cart__content">
                                            <h4 class="cart__content--title"><a href="">{{ie.product.product_name}}</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__table--body__list">
                                    
                                    {% if ie.product.sp %}
                                    <span class="cart__price">$ {{ie.product.sp}}.00</span>
                                    {% else %}
                                    <span class="cart__price">$ {{ie.product.range_of}}.00</span>
                                    
                                    {% endif %}
                                        
                                </td>
                               
                                <td class="cart__table--body__list text-right">
                                    <a class="wishlist__cart--btn primary__btn" href="{% url 'product:product_detail' ie.product.slug %}">View</a>
                                </td>
                            </tr>
                               {% endfor %}
                                
                                
                            </tbody>
                        </table> 
                       </div> 
                </form> 
            </div>
        </div>     
    </section>
    <!-- cart section end -->


     <!-- Start product section -->
     <section class="product__section product__section--style3 section--padding">
        <div class="container product3__section--container">
            <div class="section__heading text-center mb-50">
                <h2 class="section__heading--maintitle">You may also like </h2>
            </div>
            <div class="product__section--inner product__swiper--column4__activation swiper">
                <div class="swiper-wrapper">
                    
                
                    {% for ie in data1  %}
                    <div class="swiper-slide">
                            {% include 'wishlist/wishlist_product_detail_data.html' %}
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="swiper__nav--btn swiper-button-next"></div>
                <div class="swiper__nav--btn swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- End product section -->

    <!-- Start shipping section -->
    <section class="shipping__section2 shipping__style3 section--padding">
        <div class="container">
            <div class="shipping__section2--inner shipping__style3--inner d-flex justify-content-between">
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="assets/img/other/shipping1.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">Shipping</h2>
                        <p class="shipping__items2--content__desc">From handpicked sellers</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="assets/img/other/shipping2.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">Shipping</h2>
                        <p class="shipping__items2--content__desc">From handpicked sellers</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="assets/img/other/shipping3.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">Shipping</h2>
                        <p class="shipping__items2--content__desc">From handpicked sellers</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="assets/img/other/shipping4.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">Shipping</h2>
                        <p class="shipping__items2--content__desc">From handpicked sellers</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End shipping section -->

</main>
{% for ie in data1  %}
{% include 'product_cart/product_detail_modal2.html' %}
{% endfor %}    
{% endblock body %}


{% block js %}
    
{% endblock js %}



{% block cart %}
{% include 'product_cart/product_detail_cart.html' %}
{% include 'cart/addtocart_product_detail.html' %}
{% include 'product_cart/product_detail_wishlist.html' %}
{% include 'product_cart/product_swiper_wishlist.html' %}
{% endblock cart %}
    
    
    