{% extends 'landingbase.html' %}

{% block seo %}
    
{% endblock seo %}
    

{% block css %}
    
{% endblock css %}
    
{% load static %}


{% block body %}
     <!-- Start checkout page area -->
    <div class="checkout__page--area">
        <div class="container">
            <div class="">
                <div class="main ">
                    <header class="main__header checkout__mian--header mb-30">
                        <h1 class="main__logo--title"><a class="logo logo__left mb-20" href="index.html"><img src="{% static 'logo.jpg' %}" style="height: 90px;" alt="logo"></a></h1>
                        
                    </header>
                    <main class="">
                        <form action="#">
                            <div class="checkout__content--step section__shipping--address pt-0">
                                <div class="section__header checkout__header--style3 position__relative mb-25">
                                    <span class="checkout__order--number">Order #0021</span>
                                    <h2 class="section__header--title h3">Thank you submission</h2>
                                    <div class="checkout__submission--icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25.995" height="25.979" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M416 128L192 384l-96-96"></path></svg>
                                    </div>
                                </div>
                                <div class="order__confirmed--area border-radius-5 mb-15">
                                    <h3 class="order__confirmed--title h4">Your order is confirmed</h3>
                                    <p class="order__confirmed--desc">You,ll receive a confirmation email with your order number shortly</p>
                                </div>
                                <div class="customer__information--area border-radius-5">
                                    <h3 class="customer__information--title h4">Customer Information</h3>
                                    <div class="customer__information--inner d-flex">
                                        <div class="customer__information--list">
                                            <div class="customer__information--step">
                                                <h4 class="customer__information--subtitle h5">Contact information</h4>
                                                <ul>
                                                    <li><a class="customer__information--text__link" href="#">info42@gmail.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="customer__information--step">
                                                <h4 class="customer__information--subtitle h5">Shipping address</h4>
                                                <ul>
                                                    <li><span class="customer__information--text">Amin</span></li>
                                                    <li><span class="customer__information--text">Rajging</span></li>
                                                    <li><span class="customer__information--text">Dhaka 12119</span></li>
                                                    <li><span class="customer__information--text">Bangladesh</span></li>
                                                </ul>
                                            </div>
                                            <div class="customer__information--step">
                                                <h4 class="customer__information--subtitle h5">Shipping method</h4>
                                                <ul>
                                                    <li><span class="customer__information--text">Amin</span></li>
                                                    <li><span class="customer__information--text">Rajging</span></li>
                                                    <li><span class="customer__information--text">Dhaka 12119</span></li>
                                                    <li><span class="customer__information--text">Bangladesh</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="customer__information--list">
                                            <div class="customer__information--step">
                                                <h4 class="customer__information--subtitle h5">Payment method</h4>
                                                <ul>
                                                    <li><span class="customer__information--text">ending With</span></li>
                                                </ul>
                                            </div>
                                            <div class="customer__information--step">
                                                <h4 class="customer__information--subtitle h5">Shipping method</h4>
                                                <ul>
                                                    <li><span class="customer__information--text">Amin</span></li>
                                                    <li><span class="customer__information--text">Rajging</span></li>
                                                    <li><span class="customer__information--text">Dhaka 12119</span></li>
                                                    <li><span class="customer__information--text">Bangladesh</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__content--step__footer d-flex align-items-center">
                                <a class="continue__shipping--btn primary__btn border-radius-5" href="checkout-4.html">Back to Home</a>
                                <a class="previous__link--content" href="shop.html">Return to Cart</a>
                            </div>
                        </form>
                    </main>
                    <footer class="main__footer checkout__footer">
                        <p class="copyright__content">Copyright © 2022 <a class="copyright__content--link text__primary" href="index.html">Suruchi</a> . All Rights Reserved.Design By Suruchi</p>
                    </footer>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End checkout page area -->
{% endblock body %}


{% block js %}
    {% include 'cart/addtocartFinal.html' %}
{% endblock js %}
    
    