{% extends 'base.html' %}

{% block body %}
 <section>
    <div class="container" style="padding-top:120px;padding-bottom:120px;">
        <div class="card border" style="padding: 20px;">
            {% if validlink %}
        <h3>Change password</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Change password</button>
        </form>
      {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}
        </div>
    </div>
 </section>
{% endblock %}